<html>
<body>
  <form action="/produtos" method="post">
    <div>
      <label for="titulo">Titulo do livro</label>
      <input type="text" id="titulo" name="titulo" value="" placeholder="Coloque o titulo do livro aqui" />
    </div>
    <div>
      <label for="autor">Autor do livro</label>
      <input type="text" id="autor" name="autor" value="" placeholder="Coloque o author do livro aqui" />
    </div>
    <div>
      <label for="preco">Preço do livro</label>
      <input type="text" id="preco" name="preco" value="" placeholder="Coloque o preço do livro aqui" />
    </div>
    <input type="submit" value="Enviar"/>
  </form>
</body>
</html>
