<html>
<body>
  <form action="/products/save" method="post">
    <div>
      <label for="title">Titulo do livro</label>
      <input type="text" id="title" name="title" value="" placeholder="Coloque o titulo do livro aqui" />
    </div>
    <div>
      <label for="author">Autor do livro</label>
      <input type="text" id="author" name="author" value="" placeholder="Coloque o author do livro aqui" />
    </div>
    <div>
      <label for="price">Preço do livro</label>
      <input type="text" id="price" name="price" value="" placeholder="Coloque o preço do livro aqui" />
    </div>
    <input type="submit" value="Enviar"/>
  </form>
</body>
</html>
