<html>
  <header>
    <title>Minha loja</title>
  </header>
  <body>
    <h1>Produtos da loja</h1>
    <table>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Autor</td>
        <td>Preço</td>
        <td></td>
      </tr>
      <% for(var i=0;i<lista.length;i++){%>
        <tr>
          <td><%=lista[i].id%></td>
          <td><%=lista[i].titulo%></td>
          <td><%=lista[i].autor%></td>
          <td><%=lista[i].preco%></td>
        </tr>
      <%}%>
    </table>
  </body>
</html>
